Library/PackageCache/com.unity.burst@1.7.3/.Runtime/* filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostlin/lld filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
